<h1>Hello, <%= @user.email %></h1>
===============================================
<br>
<p>You have requested to reset your password.</p>

<p>To choose a new password, just follow this link:</p>
<strong><%= @url %></strong>
<br>
<em>Have a great day!</em>
